# Title of the Website
VITE_TITLE="Vite Start antd"
# Favicon of Website in /public directory
VITE_FAVICON="vite.svg"
# Base URL for Deployment
VITE_WEB_BASE="/"
# Backend API prefix for proxy server in development mode
VITE_API_PREFIX="/api"
# Port for dev/preview server
PORT=5173
# Target URL for proxying requests in development mode
PROXY_SERVER="http://localhost:5173/"
